{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<!DOCTYPE html>
<div id="layout-wrapper">

    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}

    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="{% url 'dashboard-view'%}" class=" logo-dark">
                        <span class="logo-sm">
                            <img src="{% static '/assets/images/logo/logo-sm.png' %}" alt="logo" width="50" >
                        </span>
                        <span class="logo-lg">
                            <img src="{% static '/assets/images/logo/logo.png' %}" alt="logo" height="50" width="50">
                        </span>
                    </a>

                    <a href="{% url 'dashboard-view'%}" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static '/assets/images/logo/logo-sm.png' %}" alt="" height ="30" width="30">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static '/assets/images/logo/logo.png' %}" alt="" height="40" width="90">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>

            <div class="d-flex">

                <!-- App Search-->
                <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="fa fa-search"></span>
                    </div>
                </form>

                <div class="dropdown d-inline-block d-lg-none ml-2">
                    <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-magnify"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                        aria-labelledby="page-header-search-dropdown">
                
                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="dropdown d-none d-lg-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                        <i class="mdi mdi-fullscreen font-size-24"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block ml-1">
                    <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-bell"></i>
                        <small class="badge badge-danger badge-pill">1</small>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                        aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="m-0"> Notifications (1) </h5>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">
                            
                            <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                        <span class="avatar-title border-warning rounded-circle ">
                                            <i class="fas fa-question"></i>
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">To be updated</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">Please be patient with us</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                        <span class="avatar-title border-warning rounded-circle ">
                                            <i class="mdi mdi-message"></i>
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">New Message received</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">You have 87 unread messages</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                        <span class="avatar-title border-info rounded-circle ">
                                            <i class="mdi mdi-glass-cocktail"></i>
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">Your item is shipped</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">It is a long established fact that a reader will</p>
                                        </div>
                                    </div>
                                </div>
                            </a> -->

                        </div>
                        <div class="p-2 border-top">
                            <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                                View all
                            </a>
                        </div>
                    </div>
                </div>
        

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="{% static '/dashboard/assets/images/users/user-4.jpg' %}"
                            alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle font-size-17 text-muted align-middle mr-1"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-wallet font-size-17 text-muted align-middle mr-1"></i> My Wallet</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{% url 'logout-view' %}"><i class="mdi mdi-power font-size-17 text-muted align-middle mr-1 text-danger"></i> Logout</a>
                    </div>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                        <i class="mdi mdi-spin mdi-settings"></i>
                    </button>
                </div>
        
            </div>
        </div>
    </header>


    <div class="vertical-menu">

        <div data-simplebar class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title">Main</li>

                    <li>
                        <a href="{% url 'dashboard-view' %}" class="waves-effect">
                            <i class="mdi mdi-view-dashboard"></i><span class="badge badge-pill badge-primary float-right">2</span>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'buy-stake-view' %}" class=" waves-effect">
                            <i class="mdi mdi-coin-outline"></i>
                            <span>Buy stake</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'shares-view' %}" class=" waves-effect">
                            <i class="mdi mdi-account-cash-outline"></i>
                            <span>My Shares</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'transactions-view' %}" class=" waves-effect">
                            <i class="mdi mdi-account-cash-outline"></i>
                            <span>Trades</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'notification-view' %}" class=" waves-effect">
                            <i class="mdi mdi-help-circle-outline"></i>
                            <span>Notifications</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'support-view' %}" class=" waves-effect">
                            <i class="mdi mdi-help-circle-outline"></i>
                            <span>Support</span>
                        </a>
                    </li>

                    {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'users-view' %}" class=" waves-effect">
                            <i class="mdi mdi-account-lock-outline"></i>
                            <span>Manage</span>
                        </a>
                    </li>
                    {% endif %}
                    

                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->

    {% block page %}

    {% endblock %}


</div>


{% endblock %}
