{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Stakesoptions | P2P</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Altcoins and NFT P2P marketplace" name="description" />
    <meta content="Digiland" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static '/assets/images/favicon/favicon.ico' %}" > 

    <!-- DataTables -->
    <link href="{% static '/dashboard/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/dashboard/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    
    <!-- Bootstrap Css -->
    <link href="{% static '/dashboard/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static '/dashboard/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static '/dashboard/assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    

</head>

<body data-sidebar="dark">

{% block content %}

{% endblock %}


    <!-- JAVASCRIPT -->
    <script src="{% static '/dashboard/assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

    <!-- Chart JS -->
    <script src="{% static '/dashboard/assets/libs/chart.js/Chart.bundle.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/js/pages/chartjs.init.js' %}"></script>

    <script src="{% static '/dashboard/assets/js/pages/dashboard.init.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static '/dashboard/assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static '/dashboard/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/jszip/jszip.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static '/dashboard/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static '/dashboard/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static '/dashboard/assets/js/pages/datatables.init.js' %}"></script>

    <!-- forms -->
    <script src="{% static '/dashboard/assets/libs/parsleyjs/parsley.min.js' %}"></script>

    <script src="{% static '/dashboard/assets/js/pages/form-validation.init.js' %}"></script>    

    <!-- App js -->
    <script src="{% static '/dashboard/assets/js/app.js' %}"></script>


</body>

</html>
