{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}
    

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                        
                            <h1 class="text-primary">Buy Shares</h1>
                            <p>Buy shares from other users via m-pesa.The system will pair you automatically with another user who you will trade with. 
                                Only send payment to the number provided in the instructions incase a dispute arises
                            </p>


                        </div>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-dark">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-cube-outline float-right"></i>
                            </div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-4 font-size-16">24H Volume Change</h6>
                                {%if today_data_sum > yesterday_data_sum %}
                                <h4 class=" mt-4 text-success"><i class="mdi mdi-arrow-up-thick"></i>{{percent_change}}%</h4>

                                {%elif yesterday_data_sum > today_data_sum %}
                                <h4 class=" mt-4 text-danger"><i class="mdi mdi-arrow-down-thick"></i>{{percent_change}}%</h4>

                                {%elif percent_change == 'N/A' %}
                                <h4 class=" mt-4 text-danger">{{percent_change}}</h4>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-dark">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-buffer float-right"></i>
                            </div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-4 font-size-16">24H Volume Traded</h6>
                                <h4 class=" mt-4 text-success">Ksh {{today_data_sum|intcomma}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-dark">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-tag-text-outline float-right"></i>
                            </div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3 font-size-16">7D Volume Traded</h6>
                                <h4 class="mt-4 text-warning">Ksh {{seven_day_data_sum|intcomma}}</h4>
                                <!-- <span class="badge badge-warning"> 0% </span> <span class="ml-2">compared to prev. day</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-dark">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-briefcase-check float-right"></i>
                            </div>
                            <div class="text-white ">
                                <h6 class="text-uppercase mb-3 font-size-16">Market </br>Capitalization</h6>
                                <h5 class="mt-4 font-size-18 text-primary">Ksh {{market_cap|intcomma}}</h5>
                                <!-- <span class="badge badge-info"> +89% </span> <span class="ml-2">compared to prev. day</span> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-0 ml-2">Last Updated {{last_updated}} UTC</div>

            <div class="row">

                <div class="col-lg-4 mb-0 ">
                    <div class="card" style="background-color: pink;" >
                        <div class="card-body ">
                            <h1 class="text-primary">Buy</h1>

                            <h5 class="text-info">Available Shares: Ksh {{total_available_shares|intcomma}}</h5>

                            <form class="" action="." method="POST">

                                {% csrf_token %}


                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="form-group">
                                    <label for="id_amount" class="text-black">Amount</label>
                                    <div>
                                        {{form.amount}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="text-black col-form-label">Select</label>
                                    <div class="">
                                        
                                            {{form.interest_period}}
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    
                                    <div class="mt-4">
                                        <label class="mt-2 row text-black"><h5 class="ml-2">Expected Return:</h5><h5 class="ml-2 text-info">Ksh 650</h5></label>
                                    </div>
                                </div>

                                <div class="form-group mb-0">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mb-0">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Daily Volumes Traded</h4>

                            <canvas id="line_1" height="150"></canvas>
                            

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title mb-4">Daily Bought analysis</h4>
                            <p>Total amount of shares bought </p>

                            <canvas id="bar" height="200"></canvas>

                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title mb-4">Daily Returns Analysis</h4>
                            <p>Total amount of profits made</p>

                            <canvas id="bar2" height="200"></canvas>

                        </div>
                    </div>
                </div>
                <!-- end col -->

            </div>
            <!-- end row -->
            </div>


            
                           


        </div>
        <!-- end row -->


        </div>
    </div>
</div>

{% endblock %}