{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">



            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                        
                            <h3 class="text-primary">Complete the purchase</h3>
                            <h6 class="mt-3">Pay to : <span class="text-info font-size-16">0{{receiver_profile.phone_number}}, {{names}}</span></h6>
                            <h6 class="mt-3">Payment from : <span class="text-info font-size-16">0{{payer_profile.phone_number}}, {{trans_details.payer.first_name}} {{trans_details.payer.last_name}}</span></h6>
                            <h6 class="mt-3">Amount : <span class="text-primary font-size-16">Ksh {{trans_details.amount}} </span></h6>

                            {% if trans_details.status == 'pending' %}
                            <h6 class="mt-3">Payment Status : <span class="badge badge-warning font-size-16">{{trans_details.status}} </span></h6>
                            {% elif trans_details.status == 'cancelled' %}
                            <h6 class="mt-3">Payment Status : <span class="badge badge-danger font-size-16">{{trans_details.status}} </span></h6>
                            {% elif trans_details.status == 'paid' %}
                            <h6 class="mt-3">Payment Status : <span class="badge badge-primary font-size-16">{{trans_details.status}} </span></h6>
                            {% elif trans_details.status == 'approved' %}
                            <h6 class="mt-3">Payment Status : <span class="badge badge-success font-size-16">{{trans_details.status}} </span></h6>
                            {% endif %}

                            <a href="{% url 'confirm-paid-view' trans_details.slug %}" class="btn btn-primary waves-effect waves-light mr-1 mt-4">
                                I have PAID
                            </a>
                            <a href="{% url 'cancel-paid-view' trans_details.slug %}" class="btn btn-danger waves-effect waves-light mr-1 mt-4">
                                Cancel
                            </a>
                            <a href="{% url 'approve-paid-view' trans_details.slug %}" class="btn btn-warning waves-effect waves-light mr-1 mt-4">
                                Approve
                            </a>
                            <a href="{% url 'raise-dispute-view' trans_details.slug %}" class="btn btn-info waves-effect waves-light mr-1 mt-4">
                                Raise Dispute
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>


            {% else %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                        
                            {% if trans_details.payer == request.user %}
                            <h3 class="text-primary">Complete the purchase</h3>
                            <p class="mt-4">1. You have been paired with 
                            <span class="text-info font-size-18">@{{trans_details.receiver.user}}</span>
                            </br></br>2. Only send payment to the number provided below incase a dispute arises
                            </br></br>3. Please click the 'i have paid' button after sending the payment
                            </p>

                            {%elif receiver_details == request.user %}
                            <h3 class="text-primary">Confirm Payment</h3>
                            <p class="mt-4">1. You have been paired with 
                            <span class="text-info font-size-18">@{{trans_details.payer}}</span>
                            </br></br>2. Only receive payment from the number provided below incase a dispute arises
                            </br></br>3. Please click the 'approve' button after receiving the payment
                            </p>

                            {%endif%}

                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                        
                            <div class="col-sm-4">

                                {% if trans_details.payer == request.user %}
                                <h6>Pay to : <span class="text-info font-size-16">0{{receiver_profile.phone_number}} </span></h6>
                                {%elif receiver_details == request.user %}
                                <h6>Payment from : <span class="text-info font-size-16">0{{payer_profile.phone_number}} </span></h6>
                                {%endif%}
                                
                                
                                {% if trans_details.payer == request.user %}
                                <h6 class="mt-3">Names : <span class="text-info font-size-16">{{names}}</span></h6>
                                {% elif receiver_details == request.user %}
                                <h6 class="mt-3">Names : <span class="text-info font-size-16">{{trans_details.payer.first_name}} {{trans_details.payer.last_name}}</span></h6>
                                {%endif%}

                                {% if trans_details.payer == request.user %}
                                <h6 class="mt-3">Amount to pay : <span class="text-primary font-size-16">Ksh {{trans_details.amount}} </span></h6>
                                {% elif receiver_details == request.user %}
                                <h6 class="mt-3">Amount to receive : <span class="text-primary font-size-16">Ksh {{trans_details.amount}} </span></h6>
                                {%endif%}




                                {% if trans_details.status == 'pending' %}
                                <h6 class="mt-3">Payment Status : <span class="badge badge-warning font-size-16">{{trans_details.status}} </span></h6>
                                {% elif trans_details.status == 'cancelled' %}
                                <h6 class="mt-3">Payment Status : <span class="badge badge-danger font-size-16">{{trans_details.status}} </span></h6>
                                {% elif trans_details.status == 'paid' %}
                                <h6 class="mt-3">Payment Status : <span class="badge badge-primary font-size-16">{{trans_details.status}} </span></h6>
                                {% elif trans_details.status == 'approved' %}
                                <h6 class="mt-3">Payment Status : <span class="badge badge-success font-size-16">{{trans_details.status}} </span></h6>
                                {% endif %}
                                


                                <h6 class="mt-3">Trade ID : <span class="text-info font-size-16"> {{trans_details.trans_id}} </span></h6>



                                {% if trans_details.payer == request.user and trans_details.status == 'pending' %}
                                <a href="{% url 'confirm-paid-view' trans_details.slug %}" class="btn btn-primary waves-effect waves-light mr-1 mt-4">
                                    I have PAID
                                </a>
                                <a href="{% url 'cancel-paid-view' trans_details.slug %}" class="btn btn-danger waves-effect waves-light mr-1 mt-4">
                                    Cancel
                                </a>
                                {% elif trans_details.payer == request.user and trans_details.status == 'paid' and trans_details.dispute_status is False %}
                                <a href="{% url 'raise-dispute-view' trans_details.slug %}" class="btn btn-warning waves-effect waves-light mr-1 mt-4">
                                    Raise Dispute
                                </a>
                                {% elif receiver_details == request.user and trans_details.status == 'pending' %}
                                <a href="{% url 'approve-paid-view' trans_details.slug %}" class="btn btn-danger waves-effect waves-light mr-1 mt-4">
                                    Approve
                                </a>
                                {% elif receiver_details == request.user and trans_details.status == 'paid' and trans_details.dispute_status is False %}
                                <a href="{% url 'approve-paid-view' trans_details.slug %}" class="btn btn-danger waves-effect waves-light mr-1 mt-4">
                                    Approve
                                </a>
                                <a href="{% url 'raise-dispute-view' trans_details.slug %}" class="btn btn-warning waves-effect waves-light mr-1 mt-4">
                                    Raise Dispute
                                </a>

                                {%endif%}

                                


                            </div>
                          

                        </div>
                    </div>
                </div>
            </div>


        </div>


            {%endif%}

        </div>
    </div>
</div>


{% endblock %}