{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h6>Welcome back, {{request.user}}!</h6>

                        <h4>Dashboard</h4>
                        <!-- <h5>My link: <small id="my_link" class="text-info">https://digiland.com/{{ref_code}}</small><button id="link_btn" class="btn btn-sm btn-outline-dark ml-1">Copy</button></h5> -->
                        <!-- <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Lexa</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> -->
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-cube-outline float-right"></i>
                            </div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3 font-size-16">Current stake</h6>
                                <h3 class="mb-2 font-size-18 mt-4">Ksh {{active_shares_sum|intcomma}}</h3>
                                <!-- <h5 class="ml-0 mt-2 font-size-14">Ksh value <small class="badge badge-info ml-2"> +11% </small></h5> -->
                                <h7 class="ml-0 mt-2">Total active stake</h7>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-briefcase-check float-right"></i>
                            </div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3 font-size-16">Expected Return</h6>
                                <h3 class="mb-2 font-size-18 mt-4">Ksh {{active_shares_return|intcomma}}</h3>
                                <h7 class="ml-0 mt-2">Total expected return</h7>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-buffer float-right"></i>
                            </div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3 font-size-16">All Time Stakes</h6>
                                <h3 class="mb-2 font-size-18 mt-4">Ksh {{all_time_shares|intcomma}}</h3>
                                <h7 class="ml-0 mt-2">Total successful stakes</h7>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon">
                                <i class="mdi mdi-tag-text-outline float-right"></i>
                            </div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3 font-size-16">All Time Returns</h6>
                                <h3 class="mb-2 font-size-18 mt-4">Ksh {{all_time_returns|intcomma}}</h3>
                                <h7 class="ml-0 mt-2">Total successful returns</h7>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-pink">
                        <div class="card-body mini-stat-img">
                            <div class="col-sm-12 text-white">
                                <h6 class="text-uppercase mb-3 font-size-16">Available Shares</h6>
                                <h3 class="mb-2 font-size-18 mt-4">Ksh {{total_available_shares|intcomma}}</h3>
                                <!-- <h5 class="ml-0 mt-2 font-size-14">Ksh value <small class="badge badge-info ml-2"> +11% </small></h5> -->
                                <h7 class="ml-0 mt-2">Available market shares</h7>
                            </div>
                            <div class="col-sm-12 text-white">
                                <a href="{% url 'buy-stake-view' %}" class="btn btn-primary waves-effect waves-light mt-2">BUY</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Recent Activity Feed</h4>

                            <ol class="activity-feed mb-0">
                                {% for admin_notification in admin_notifications %}
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <h5 class="text-info">{{admin_notification.title}}</h5>
                                        <span class="date">{{admin_notification.date_created}}</span>
                                        <span class="activity-text">{{admin_notification.description}}</span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ol>

                            <div class="text-center">
                                <a href="{% url 'notification-view' %}" class="btn btn-sm btn-primary">View All</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end row -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            © <script>document.write(new Date().getFullYear())</script> stakes-options
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title px-3 py-4">
                <a href="javascript:void(0);" class="right-bar-toggle float-right">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
                <h5 class="m-0">Settings</h5>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />
            <h6 class="text-center mb-0">Choose Layouts</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="{% static '/dashboard/assets/images/layouts/layout-1.jpg' %}" class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="custom-control custom-switch mb-3">
                    <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked />
                    <label class="custom-control-label" for="light-mode-switch">Light Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{% static '/dashboard/assets/images/layouts/layout-2.jpg' %}" class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="custom-control custom-switch mb-3">
                    <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsStyle="{% static '/dashboard/assets/css/bootstrap-dark.min.css' %}" data-appStyle="assets/css/app-dark.min.css" />
                    <label class="custom-control-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{% static '/dashboard/assets/images/layouts/layout-3.jpg' %}" class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="custom-control custom-switch mb-5">
                    <input type="checkbox" class="custom-control-input theme-choice" id="rtl-mode-switch" data-appStyle="{% static '/dashboard/assets/css/app-rtl.min.css'%}" />
                    <label class="custom-control-label" for="rtl-mode-switch">RTL Mode</label>
                </div>

    
            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
</div>
<!-- main content end -->

{% endblock %}