{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                        
                            <div class="col-sm-12">
    
                                <h3 class="text-danger">Trade in dispute</h3>
                                <h5 class="mt-5">Trade ID: <span class="text-info font-size-18 ml-3">{{disputed.trans.trans_id}}</span></h5>
                                <h5 class="mt-3">Amount: <span class="text-danger font-size-18 ml-3">Ksh {{disputed.trans.amount}}</span></h5>
                                <h5 class="mt-3">Buyer: <span class="text-warning font-size-18 ml-3">{{disputed.trans.payer}}</span></h5>
                                <h5 class="mt-3">Seller: <span class="text-primary font-size-18 ml-3">{{disputed.trans.receiver.user}}</span></h5>

                                <h5 class="mt-5">Verdict: <span class="text-primary font-size-18 ml-3">{{disputed.moderator_text}}</span></h5>
    
                            </div>
                              
    
                        </div>
                    </div>
                </div>


                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                        
                            <div class="col-sm-4">
                                
                                {% if payer == user %}
                                <form class="" action="." method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}


                                    
                                    <div class="form-group">
                                        <label for="id_amount" class="text-black">Payer Description</label>
                                        <div>
                                            {{payer_form.payer_text}}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="text-black col-form-label">Upload Screenshot</label>
                                        <div class="">
                                            
                                                {{payer_form.payer_screenshot}}
                                            
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>


                                {% elif receiver == user %}
                                <form class="" action="." method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    
                                    <div class="form-group">
                                        <label for="id_amount" class="text-black">Receiver Description</label>
                                        <div>
                                            {{receiver_form.receiver_text}}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="text-black col-form-label">Upload Screenshot</label>
                                        <div class="">
                                            {{receiver_form.receiver_screenshot}}
                                        </div>
                                    </div>

                                    

                                    <div class="form-group mb-0">
                                        <div>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                
                                </form>
                                {% endif %}


                                {% if request.user.is_superuser %}
                                <form class="mt-5" action="." method="POST">
                                    
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="id_amount" class="text-black">Moderator Decision</label>
                                        <div>
                                            {{form.moderator_text}}
                                        </div>
                                    </div>

                                    <div class="form-group mb-0">
                                        <div>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                                Submit
                                            </button>
                                        </div>
                                    </div>


                                </form>
                                {% endif%}

                            </div>
                              
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                        
                                <div class="col-sm-6">
        
                                    <h3 class="text-danger">Payer</h3>
                                    <h5 class="mt-5">Payer Complaint: <span class="text-info font-size-18 ml-3">{{disputed.payer_text}}</span></h5>
                                    <div class="mt-3">
                                        {% if disputed.payer_screenshot %}
                                        <img src="{{disputed.payer_screenshot.url}}" alt="" width="150" height="266">
                                        {% else %}
                                        <img src="" alt="Not Available" width="150" height="266">
                                        {% endif %}
                                    </div>
        
                                </div>


                                <div class="col-sm-6">
        
                                    <h3 class="text-danger">Receiver</h3>
                                    <h5 class="mt-5">Receiver Complaint: <span class="text-info font-size-18 ml-3">{{disputed.receiver_text}}</span></h5>
                                    <div class="mt-3">
                                        {% if disputed.receiver_screenshot %}
                                        <img src="{{disputed.receiver_screenshot.url}}" alt="" width="150" height="266">
                                        {% else %}
                                        <img src="" alt="Not Available" width="150" height="266">
                                        {% endif %}
                                    </div>
        
                                </div>

                            </div>
    
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}