{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">

    <head>
        <!-- Document Meta
        ============================================= -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--IE Compatibility Meta-->
        <meta name="author" content="digiland" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Peer to Peer Investing Marketplace">
        <link href="{% static '/assets/images/favicon/favicon.ico' %}" rel="icon">
    
        <!-- Fonts
        ============================================= -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700' rel='stylesheet' type='text/css'>
    
        <!-- Stylesheets
        ============================================= -->
        <link href="{% static '/assets/css/external.css' %}" rel="stylesheet">
        <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
    
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    
        <!-- Document Title
        ============================================= -->
        <title>stake-options | Peer to Peer Investing Marketplace</title>
    </head>

<body class="body-scroll">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <!-- Header
============================================= -->
        <header id="navbar-spy" class="header header-1 header-transparent header-fixed">
            <nav id="primary-menu" class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img class="logo logo-dark" src="{% static 'assets/images/logo/logo.png' %}" alt="Kolaso Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toogle-inner"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="active"><a data-scroll="scrollTo" href="#hero">home</a>
                            </li>
                            <!-- <li><a data-scroll="scrollTo" href="#p2p">features</a>
                            </li> -->
                            <li><a data-scroll="scrollTo" href="#hodls-about">about</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="{% url 'login-view' %}">login</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="{% url 'signup-view' %}">signup</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="{% url 'signup-view' %}">Donate to Us</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        </header>
        <!-- Slider #1
============================================= -->
        <section id="hero" class="section hero">
            <div class="container">
                <div class="row row-content">
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="hero-headline">Simple Impartial Effective.</div>
                        <div class="hero-bio">Join the sharks</div>
                        <div class="hero-action">
                            <a href="#pricing" class="btn btn--gradient" data-scroll="scrollTo">Get Started Now</a>
                            <span class="video-button">
                                <a class="popup-video" href="https://vimeo.com/585213304">
                                    <span class="player-text"> Watch a Demo</span>
                                    <span class="btn-player"><img src="{% static 'assets/images/video/player.svg' %}"
                                            alt="video player"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="hero-img">
                            <img class="img-fluid" src="{% static 'assets/images/hero/hero.svg' %}" alt="background">
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- #slider end -->
        <!-- Feature #1
============================================= -->
        <section id="feature1" class="section feature feature-center bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 offset-lg-3">
                        <div class="heading heading-1 text--center mb-80">
                            <h2 class="heading-title">
                                Getting Started
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Panel #1 -->
                    <div class="col-12 col-md-4 col-lg-4">
                        <a href="#"><div class="feature-panel">
                            <div class="feature-img bg-blue">
                                <img src="{% static 'assets/images/features/champion.svg' %}" alt="target">
                            </div>
                            <div class="feature-content">
                                <h3>Register</h3>
                                <p>Click here and follow the registration instructions to create an account </p>
                            </div>
                        </div></a>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-4 end -->

                    <!-- Panel #2 -->
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="feature-panel">
                            <div class="feature-img bg-green">
                                <img src="{% static 'assets/images/features/team.svg' %}" alt="users">
                            </div>
                            <div class="feature-content">
                                <h3>Pair</h3>
                                <p>The system will automatically match you with a user for a transparent transaction in shares and mobile money payment.</p>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-4 end -->

                    <!-- Panel #3 -->
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="feature-panel">
                            <div class="feature-img bg-orange">
                                <img src="{% static 'assets/images/features/chart.svg' %}" alt="chart">
                            </div>
                            <div class="feature-content">
                                <h3>Earn</h3>
                                <p>Earn interest through bought shares depending on the percentage and maturity period selected during pairing.</p>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-4 end -->
                </div>
                <!-- .row end -->
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 offset-lg-3">
                        <div class="heading heading-1 text--center mb-40">
                            <a href="#pricing" class="btn btn--gradient mt-40" data-scroll="scrollTo">Get Started Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
        </section>
        <!-- #feature1 end -->
        <!-- Feature #2
============================================= -->
        <section id="feature2" class="section feature feature-2 bg-shape">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <img class="img-fluid" src="{% static 'assets/images/features/hodls2.svg' %}" alt="device" />
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-12 col-md-12 col-lg-5 offset-lg-1">
                        <div class="feature-panel mt-80">
                            <!-- <div class="feature-img bg-purple">
                                <img src="assets/images/features/bookmark.svg" alt="device">
                            </div> -->
                            <div id="hodls-about" class="feature-content">
                                <h1>Overview</h1>
                                <p>Stake options was created to enable the community to invest amongst each other with transparency through peer to peer transactions.  On registration, a user will be paired to other users depending on the amount they wish to invest. Interest rates vary between 30% for 4 days and 50% for 7 days.</p>
                            </div>

                            <a href="#pricing" class="btn btn--gradient mt-40" data-scroll="scrollTo">Get Started Now</a>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-6 end -->
                </div>
                <div class="clearfix mt-30"></div>
                <!-- .row end -->

                <div class="row">
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="feature-panel">
                            <!-- <div class="feature-img bg-yellow">
                                <img src="assets/images/features/bookmark.svg" alt="device">
                            </div> -->
                            <div id="p2p" class="feature-content">
                                <h1>P2P Transactions</h1>
                                <p>Buy and Sell your stake within our automated peer to peer based marketplace to maximize your profits, our trading efficiency, reduced costs and increased payment speeds</p>
                                <ul>
                                    <li>Escrow systematic trading.</li>
                                    <li>Secure payment methods</li>
                                </ul>
                            </div>
                            <a href="#pricing" class="btn btn--gradient mt-40" data-scroll="scrollTo">Get Started Now</a>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-12 col-md-12 col-lg-6 offset-lg-1">
                        <img class="img-fluid pull-right" src="{% static 'assets/images/features/p2p.svg' %}" alt="device" />
                    </div>
                    <!-- .col-md-6 end -->
                </div>
                <!-- .row end -->
                <div class="clearfix mt-100 pt-150"></div>

                <div id="referrals" class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <img class="img-fluid" src="{% static 'assets/images/features/referral.svg' %}" alt="device" />
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-12 col-md-12 col-lg-5 offset-lg-1">
                        <div class="feature-panel mt-80">
                            <!-- <div class="feature-img bg-purple">
                                                <img src="assets/images/features/bookmark.svg" alt="device">
                                            </div> -->
                            <div class="feature-content">
                                <h1>Referral Rewards</h1>
                                <p>Our marketplace has a referall system to reward those who help us to create awareness. We value word-of-mouth and that is why we offer cashbacks rewards to everyone who helps us to grow the 'hordlers' community. </p>
                            </div>
                            <a href="#pricing" class="btn btn--gradient mt-40" data-scroll="scrollTo">Get Started Now</a>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-6 end -->
                </div>
            </div>
            <!-- .container end -->
        </section>
        <!-- #feature2 end -->
        <!-- reviews
============================================= -->
        <section id="reviews" class="section reviews pb-0 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                        <div class="carousel carousel-dots owl-carousel" data-slide="1" data-slide-rs="1"
                            data-autoplay="false" data-nav="false" data-dots="true" data-space="0" data-loop="true"
                            data-speed="800">

                            <!-- Testimonial #1 -->
                            <div class="testimonial-panel">
                                <div class="testimonial-body">
                                    <p>" Compound interest is the eighth wonder of the world. He who understands it, earns it. He who doesn't, pays it "</p>
                                    <div class="testimonial-author">
                                        <h5>~ Albert Einstein ~</h5>
                                    </div>
                                </div>
                                <a href="#pricing" class="btn btn--gradient mt-30" data-scroll="scrollTo">Get Started Now</a>
                            </div>

                            <!-- Testimonial #2  -->
                            <div class="testimonial-panel">
                                <div class="testimonial-body">
                                    <p>" Successful Investments start with courage "</p>
                                    <div class="testimonial-author">
                                        <h5>~ Anonymous ~</h5>
                                    </div>
                                </div>
                                <a href="#pricing" class="btn btn--gradient mt-30" data-scroll="scrollTo">Get Started Now</a>
                            </div>

                            <!-- Testimonial #3 -->
                            <div class="testimonial-panel">
                                <div class="testimonial-body">
                                    <p>" The future of money is <strong>DIGITAL"</strong></p>
                                    <div class="testimonial-author">
                                        <h5>~ Anonymous ~</h5>
                                    </div>
                                </div>
                                <a href="#pricing" class="btn btn--gradient mt-30" data-scroll="scrollTo">Get Started Now</a>
                            </div>
                            
                        </div><!-- .carousel End -->
                    </div>

                </div>
                <!-- .row End -->
            </div>
            <!-- .container End -->
        </section>
        <!-- #reviews End-->

        <!-- Footer
============================================= -->
        <footer id="footer" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="footer-info">
                                <p>support@stakesoptions.com</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="footer-social">
                                <a class="twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="instagram" href="#">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .container end -->
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <hr>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="footer-copyright">
                                <span>&copy; stakeoptions 2021, All Rights Reserved.</span>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-bottom end -->
        </footer>
    </div>
    <!-- #wrapper end -->

    <!-- Footer Scripts
	============================================= -->
    <script src="{% static '/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/assets/js/plugins.js' %}"></script>
    <script src="{% static '/assets/js/functions.js' %}"></script>
</body>

</html>