{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Recent Activity Feed</h4>

                            <ol class="activity-feed mb-0">
                                {% for admin_notification in admin_notifications %}
                                <li class="feed-item">
                                    <div class="feed-item-list">
                                        <span class="date text-primary">{{admin_notification.date_created}}</span>
                                        <h5 class="text-info">{{admin_notification.title}}</h5>
                                        <span class="activity-text">{{admin_notification.description}}</span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ol>

                            <div class="text-center">
                                <a href="#" class="btn btn-sm btn-primary">Load more</a>
                            </div> 
                        </div>
                    </div>

                </div>
            </div>
            <!-- end row -->

        </div>
    </div>
</div>

{% endblock %}