{% extends "base2.html" %}
{% load static %}

{% block content %}

{% if messages %}
<script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
</script>
{% endif %}

<div class="home-btn d-none d-sm-block">
    <a href="{% url 'main-view' %}" target="_blank" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary">
                        <div class="text-primary text-center p-4">
                            <h5 class="text-white font-size-20 p-2">Reset Password</h5>
                            <a href="{% url 'main-view' %}" target="_blank" class="logo logo-admin">
                                <img src="{% static '/assets/images/logo/logo.png' %}" height="50" alt="logo">
                            </a>
                        </div>
                    </div>

                    <div class="card-body p-4">
                        
                        <div class="p-3">

                            <div class="alert alert-success mt-5" role="alert">
                                Enter new Password
                            </div>


                            <form class="form-horizontal mt-4" method="POST" action=".">

                                {% csrf_token %}

                                
                                <div class="form-group">
                                    <label for="id_new_password1">Password</label>
                                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                                </div>

                                <div class="form-group">
                                    <label for="id_new_password2">Confirm Password</label>
                                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                </div>

                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div>
                                    <div class="col-sm-6 text-right">
                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Change my password</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>

                <div class="mt-5 text-center">
                    <p>Remember It ? <a href="{%url 'login-view'%}" class="font-weight-medium text-primary"> Sign In here </a> </p>
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> stakes-options
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}