{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="authentication-bg d-flex align-items-center pb-0 vh-100">
    <div class="content-center w-100">
            <div class="container">
                <div class="card mo-mt-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-4 ml-auto">
                                <div class="ex-page-content">
                                    <h2 class="text-dark display-8 mt-4">Password Reset Complete</h2>
                                    <!-- <h4 class="mb-4">Log In to continue</h4> -->
                                    <p class="mb-5">Your password has been set. You may go ahead and log in now.</p>
                                    <!-- <p class="mb-5">It will be as simple as Occidental in fact, it will be Occidental to an English person</p> -->
                                    <a class="btn btn-primary ml-10 mb-5 waves-effect waves-light" href="{% url 'login-view' %}"><i class="mdi mdi-home"></i> Log In</a>
                                </div>
                    
                            </div>
                            <div class="col-lg-5 mx-auto">
                                <img src="{% static '/assets/images/login.jpg' %}" alt="" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
    </div>

</div>

{% endblock %}