{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="home-btn d-none d-sm-block">
    <a href="{% url 'main-view' %}" target="_blank" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary">
                        <div class="text-primary text-center p-4">
                            <h5 class="text-white font-size-20 p-2">Reset Password</h5>
                            <a href="{% url 'main-view' %}" target="_blank" class="logo logo-admin">
                                <img src="{% static '/assets/images/logo/logo.png' %}" height="50" alt="logo">
                            </a>
                        </div>
                    </div>

                    <div class="card-body p-4">
                        
                        <div class="p-3">

                            <div class="alert alert-success mt-5" role="alert">
                                Enter your Email and instructions will be sent to you!
                            </div>


                            <form class="form-horizontal mt-4" method="POST" action=".">

                                {% csrf_token %}

                                
                                <div class="form-group">
                                    <label for="id_email">Email</label>
                                    <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                                </div>

                                <div>
                                    <div class="col-sm-6 text-right">
                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset my password</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>

                <div class="mt-5 text-center">
                    <p>Remember It ? <a href="{% url 'login-view'%}" class="font-weight-medium text-primary"> Sign In here </a> </p>
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> stakes-options
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}