{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">

                            <h4 class="card-title">My Shares</h4>
                            <!-- <p class="card-title-desc">Total Income : Ksh 10,000</p> -->
                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Period</th>
                                        <th>Expected Payment</th>
                                        <th>Status</th>
                                        <th>Received</th>
                                        <th>Balance</th>
                                        <th>Date bought</th>
                                        <th>Maturity date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for share in item_list %}
                                    <tr>
                                        <td>{{share.0}}</td>
                                        <td>{{share.1}}</td>
                                        <td>{{share.2}}</td>

                                        <td class="mt-1 mb-1">
                                            {% if share.3 == 'maturing' %}
                                                <span class="badge badge-pill badge-warning ">maturing</span>
                                            {%elif share.3 == 'matured' %}
                                                <span class="badge badge-pill badge-info">matured</span>
                                            {%elif share.3 == 'completed' %}
                                                <span class="badge badge-pill badge-success">completed</span>
                                            {%endif%}
                                        </td>

                                        <td>{{share.4}}</td>
                                        <td>{{share.5}}</td>
                                        <td>{{share.6}}</td>
                                        <td id="demo">{{share.7}}</td>
                                    </tr>
                                    {% endfor %}

                                    <!-- {% for share in item_list %}

                                    <script>

                                        var maturityDate = Date.parse('{{share.7.isoformat}}')

                                        // Set the date we're counting down to
                                        var countDownDate = new Date(maturityDate).getTime();
                                        
                                        // Update the count down every 1 second
                                        var x = setInterval(function() {
                                        
                                          // Get today's date and time
                                          var now = new Date().getTime();
                                        
                                          // Find the distance between now and the count down date
                                          var distance = countDownDate - now;
                                        
                                          // Time calculations for days, hours, minutes and seconds
                                          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                        
                                          // Display the result in the element with id="demo"
                                          document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                                          + minutes + "m " + seconds + "s ";
                                        
                                          // If the count down is finished, write some text
                                          if (distance < 0) {
                                            clearInterval(x);
                                            document.getElementById("demo").innerHTML = "MATURED";
                                          }
                                        }, 1000);
                                    </script>

                                    {% endfor %} -->
                                    

                                </tbody>
                                
                            </table>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div>
    </div>
</div>




{% endblock %}