{% extends "base2.html" %}
{% load static %}

{% block content %}
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">
                            <h3 class="text-center mt-4">
                                <a href="{% url 'main-view' %}" class="logo logo-admin"><img src="{% static '/assets/images/logo/logo.png' %}"
                                        height="60" width="125" alt="logo"></a>
                            </h3>
                            <div class="p-3">
                                <h4 class="text-muted font-size-18 mb-1 text-center">Free Registration</h4>
                                <p class="text-muted text-center">Get your account now.</p>
                                <form class="form-horizontal mt-4" action="." method="POST">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" placeholder="Enter username">
                                    </div>

                                    <div class="form-group">
                                        <label for="userfirstname">First Name</label>
                                        <input type="text" class="form-control" name="first_name" maxlength="150" id="id_first_name" placeholder="First Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="userlastname">Last Name</label>
                                        <input type="text" class="form-control" name="last_name" maxlength="150" id="id_last_name" placeholder="Last Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="useremail">Email</label>
                                        <input type="email" class="form-control" name="email" maxlength="254" id="id_email" placeholder="Enter email">
                                    </div>

                                    <div class="form-group">
                                        <label for="userphone">Phone number</label>
                                        <input type="number" class="form-control" name="phone_number" required="" id="id_phone_number" placeholder="Phone Number">
                                    </div>

                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <input type="password" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Enter password">
                                    </div>

                                    <div class="form-group">
                                        <label for="userpassword">Confirm Password</label>
                                        <input type="password" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Confirm password">
                                    </div>

                                    <div class="form-group row mt-4">
                                        <div class="col-12 text-right">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                                        </div>
                                    </div>

                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-4">
                                            <p class="text-muted mb-0 font-size-14">By registering you agree to the digiland <a href="#" class="text-primary">Terms of Use</a></p>
                                        </div>
                                    </div>



                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>Already have an account ? <a href="{% url 'login-view' %}" class="text-primary"> Login </a> </p>
                        <p>© Digiland 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}