{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">

                            <h4 class="card-title">Disputes</h4>
                            <!-- <p class="card-title-desc">Total Income : Ksh 10,000</p> -->
                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                
                                <thead>
                                    <tr>
                                        <th>Dispute ID</th>
                                        <th>Trade ID</th>
                                        <th>Status</th>
                                        <th>Moderator Result</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for dispute in disputes %}
                                    <tr>
                                        <td><a href="{% url 'dispute-view' dispute.id %}" >{{dispute.id}}</a></td>
                                        <td>{{dispute.trans.trans_id}}</td>

                                        <td class="mt-1 mb-1">
                                            {% if dispute.status == 'pending' %}
                                                <span class="badge badge-pill badge-warning ">pending</span>
                                            {%elif dispute.status == 'awarded' %}
                                                <span class="badge badge-pill badge-success">awarded</span>
                                            {%endif%}
                                        </td>

                                        <td>{{dispute.moderator_text}}</td>

                                    </tr>
                                    {% endfor %}

                                    

                                </tbody>
                                
                            </table>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div>
    </div>
</div>


{% endblock %}