{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">

                            <h4 class="card-title">My Trades</h4>
                            <!-- <p class="card-title-desc">Total Income : Ksh 10,000</p> -->

                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Trade ID</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Paired with</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for trade in trades %}
                                    <tr>
                                        <td><a href="{% url 'confirm-buy-stake-view' trade.slug %}">{{trade.trans_id}}</a></td>

                                        {% if trade.status == 'pending' %}
                                        <td><span class="badge badge-pill badge-warning ">pending</span></td>
                                        {%elif trade.status == 'cancelled' %}
                                        <td><span class="badge badge-pill badge-danger ">cancelled</span></td>
                                        {%elif trade.status == 'paid' %}
                                        <td><span class="badge badge-pill badge-primary ">paid</span></td>
                                        {%elif trade.status == 'approved' %}
                                        <td><span class="badge badge-pill badge-success ">approved</span></td>
                                        {%endif%}

                                        <td>{{trade.amount}}</td>
                                        <td>{{trade.receiver.user}}</td>
                                    </tr>
                                    {% endfor %}

                                    {% for trade in trades2 %}
                                    <tr>
                                        <td><a href="{% url 'confirm-buy-stake-view' trade.slug %}">{{trade.trans_id}}</a></td>

                                        {% if trade.status == 'pending' %}
                                        <td><span class="badge badge-pill badge-warning ">pending</span></td>
                                        {%elif trade.status == 'cancelled' %}
                                        <td><span class="badge badge-pill badge-danger ">cancelled</span></td>
                                        {%elif trade.status == 'paid' %}
                                        <td><span class="badge badge-pill badge-primary">paid</span></td>
                                        {%elif trade.status == 'approved' %}
                                        <td><span class="badge badge-pill badge-success">approved</span></td>
                                        {%endif%}

                                        <td>{{trade.amount}}</td>
                                        <td>{{trade.payer}}</td>
                                    </tr>
                                    {% endfor %}
                                    

                                </tbody>
                                
                            </table>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div>
    </div>
</div>




{% endblock %}