{% extends "base2.html" %}
{% load static %}
{% load humanize %}

{% block page %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">



            <div class="row ">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">
                            <div class="row align-items-center">

                                <div class="col-sm-4">
                                    <div class="page-title-box">
                                        <h4 class="font-size-18 text-info">Update shares status</h4>
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item active">Click to update shares</li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="float-right d-none d-md-block">
                                        <a class="btn btn-info" href="{% url 'shares-update-view' %}">Update Users Shares</a>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="float-right d-none d-md-block">
                                        <a class="btn btn-danger" href="{% url 'staff-shares-update-view' %}">Update Staff Shares</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="row ">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">
                            <div class="row align-items-center">

                                <div class="col-sm-4">
                                    <div class="page-title-box">
                                        <h4 class="font-size-18 text-primary">Activate/Deactivate User shares</h4>
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item active">Click to update user shares</li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="float-right d-none d-md-block">
                                        <a class="btn btn-primary" href="{% url 'activate-user-shares-view' %}">Activate user Shares</a>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="float-right d-none d-md-block">
                                        <a class="btn btn-danger" href="{% url 'deactivate-user-shares-view' %}">Deactivate user Shares</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> 
            </div>


            <div class="row ">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">
                            <div class="row align-items-center">

                                <div class="col-sm-4">
                                    <div class="page-title-box">
                                        <h4 class="font-size-18 text-danger">Activate/Deactivate Staff shares</h4>
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item active">Click to update staff shares</li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="float-right d-none d-md-block">
                                        <a class="btn btn-warning" href="{% url 'activate-staff-shares-view' %}">Activate staff Shares</a>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="float-right d-none d-md-block">
                                        <a class="btn btn-danger" href="{% url 'deactivate-staff-shares-view' %}">Deactivate staff Shares</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> 
            </div>



            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">

                            <h2 class="text-warning">Pseudo Trades</h2>
                            <!-- <p class="card-title-desc">Total Income : Ksh 10,000</p> -->

                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Trade ID</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Payer</th>
                                        <th>Receiver</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for trade in staff_transactions_pending %}
                                    <tr>
                                        <td><a href="{% url 'confirm-buy-stake-view' trade.5 %}">{{trade.0}}</a></td>

                                        {% if trade.1 == 'pending' %}
                                        <td><span class="badge badge-pill badge-warning ">pending</span></td>
                                        {%elif trade.1 == 'cancelled' %}
                                        <td><span class="badge badge-pill badge-danger ">cancelled</span></td>
                                        {%elif trade.1 == 'paid' %}
                                        <td><span class="badge badge-pill badge-primary ">paid</span></td>
                                        {%elif trade.1 == 'approved' %}
                                        <td><span class="badge badge-pill badge-success ">approved</span></td>
                                        {%endif%}

                                        <td>{{trade.2}}</td>
                                        <td>{{trade.3}}</td>
                                        <td>{{trade.4}}</td>
                                    </tr>
                                    {% endfor %}

                                    {% for trade in staff_transactions_paid %}
                                    <tr>
                                        <td><a href="{% url 'confirm-buy-stake-view' trade.5 %}">{{trade.0}}</a></td>

                                        {% if trade.1 == 'pending' %}
                                        <td><span class="badge badge-pill badge-warning ">pending</span></td>
                                        {%elif trade.1 == 'cancelled' %}
                                        <td><span class="badge badge-pill badge-danger ">cancelled</span></td>
                                        {%elif trade.1 == 'paid' %}
                                        <td><span class="badge badge-pill badge-primary ">paid</span></td>
                                        {%elif trade.1 == 'approved' %}
                                        <td><span class="badge badge-pill badge-success ">approved</span></td>
                                        {%endif%}

                                        <td>{{trade.2}}</td>
                                        <td>{{trade.3}}</td>
                                        <td>{{trade.4}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                                
                            </table>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">

                            <h2 class="text-primary">Pseudo Shares</h2>
                            <!-- <p class="card-title-desc">Total Income : Ksh 10,000</p> -->

                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <!-- <th>Status</th> -->
                                        <th>Active Trade Status</th>
                                        <th>Expected Payout</th>
                                        <th>Received Payment</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for share in staff_shares_matured %}
                                    <tr>
                                        <td><a href="#">{{share.0}}</a></td>                                        
                                        <!-- <td class="badge badge-pill badge-success mt-1 mb-1">{{share.1}}</td> -->
                                        

                                        {% if share.2 is True %}
                                        <td><span class="badge badge-pill badge-warning">Active</span><span class="badge btn btn-danger ml-2"><a class="text-white" href="{% url 'deactivate-share-view' shared=share.5 %}">deactivate</a></span></td>
                                        {%elif share.2 is False %}
                                        <td><span class="badge badge-pill badge-info ">Inactive</span><span class="badge btn btn-success ml-2"><a class="text-white" href="{% url 'activate-share-view' shared=share.5 %}">activate</a></span></td>
                                        {%endif%}

                                        <td>{{share.3}}</td>
                                        <td>{{share.4}}</td>
                                        <td><span class="badge badge-pill badge-success ">{{share.1}}</span></td>

                                    </tr>
                                    {% endfor %}

                                    {% for sharem in shares_maturing %}
                                    <tr>
                                        <td><a href="#">{{sharem.0}}</a></td>
                                        <!-- <td class="badge badge-pill badge-danger mt-1 mb-1">{{sharem.1}}</td> -->
                                       

                                        {% if sharem.2 is True %}
                                        <td><span class="badge badge-pill badge-warning">Active</span><span class="badge btn btn-danger ml-2"><a class="text-white" href="{% url 'deactivate-share-view' shared=sharem.5 %}">deactivate</a></span></td>
                                        {%elif sharem.2 is False %}
                                        <td><span class="badge badge-pill badge-info">Inactive</span><span class="badge btn btn-success ml-2"><a class="text-white" href="{% url 'activate-share-view' shared=sharem.5 %}">activate</a></span></td>
                                        {%endif%}

                                        <td>{{sharem.3}}</td>
                                        <td>{{sharem.4}}</td>
                                        <td><span class="badge badge-pill badge-info ">{{sharem.1}}</span></td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                                
                            </table>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">

                            <h2 class="text-warning">User Trades</h2>
                            <!-- <p class="card-title-desc">Total Income : Ksh 10,000</p> -->

                            <table id="datatable2" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Trade ID</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Payer</th>
                                        <th>Receiver</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for trade in user_paid %}
                                    <tr>
                                        <td><a href="{% url 'confirm-buy-stake-view' trade.5 %}">{{trade.0}}</a></td>

                                        {% if trade.1 == 'pending' %}
                                        <td><span class="badge badge-pill badge-warning ">pending</span></td>
                                        {%elif trade.1 == 'cancelled' %}
                                        <td><span class="badge badge-pill badge-danger ">cancelled</span></td>
                                        {%elif trade.1 == 'paid' %}
                                        <td><span class="badge badge-pill badge-primary ">paid</span></td>
                                        {%elif trade.1 == 'approved' %}
                                        <td><span class="badge badge-pill badge-success ">approved</span></td>
                                        {%endif%}

                                        <td>{{trade.2}}</td>
                                        <td>{{trade.3}}</td>
                                        <td>{{trade.4}}</td>
                                    </tr>
                                    {% endfor %}

                                    {% for trade in user_pending %}
                                    <tr>
                                        <td><a href="{% url 'confirm-buy-stake-view' trade.5 %}">{{trade.0}}</a></td>

                                        {% if trade.1 == 'pending' %}
                                        <td><span class="badge badge-pill badge-warning ">pending</span></td>
                                        {%elif trade.1 == 'cancelled' %}
                                        <td><span class="badge badge-pill badge-danger ">cancelled</span></td>
                                        {%elif trade.1 == 'paid' %}
                                        <td><span class="badge badge-pill badge-primary ">paid</span></td>
                                        {%elif trade.1 == 'approved' %}
                                        <td><span class="badge badge-pill badge-success ">approved</span></td>
                                        {%endif%}

                                        <td>{{trade.2}}</td>
                                        <td>{{trade.3}}</td>
                                        <td>{{trade.4}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                                
                            </table>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-grey">

                            <h2 class="text-warning">Disputes</h2>
                            <!-- <p class="card-title-desc">Total Income : Ksh 10,000</p> -->

                            <table id="datatable3" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Dispute ID</th>
                                        <th>Trade ID</th>
                                        <th>Status</th>
                                        <th>Payer</th>
                                        <th>Receiver</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for dispute in all_disputes %}
                                    <tr>
                                        <td><a href="{% url 'dispute-view' dispute.id %}">{{dispute.id}}</a></td>
                                        <td>{{dispute.trans.trans_id}}</td>
                                        <td><span class="badge badge-pill badge-danger ">{{dispute.status}}</span></td>
                                        <td>{{dispute.trans.payer}}</td>
                                        <td>{{dispute.trans.receiver.user}}</td>
                                    </tr>
                                    {% endfor %}


                                </tbody>
                                
                            </table>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->



        </div>
    </div>
</div>

{% endblock %}